body
{
	font-family: "Segoe UI", Helvetica, sans-serif;
	font-size: 100%;
	line-height: 1.5em;
	/* fallback (Opera) */
	background: #FFFFFF;
	/* Mozilla: */
	background: -moz-linear-gradient(top, white, white 50%, #D0D0D0);
	/*Chrome, Safari:*/
	background: -webkit-gradient(linear, left 50%, left bottom, from(#FFFFFF), to(#D0D0D0));
	/* MSIE */
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#FFFFFF', EndColorStr='#F0F0F0', GradientType=0);
}

h1
{
	font-size: 1.5em;
	text-align: center;
}

h2
{
	font-size: 1.25em;
	line-height: 0.5em;
	text-align: center;
}

h3
{
	font-size: 1em;
	font-weight: 600;
	line-height: 0.7em;
	text-align: center;
}

p
{
	text-align: center;
}

a:link
{
	font-weight: 600;
	color: black;
}

a:hover
{
	color: #555555;
}

a:active
{
	letter-spacing: 0.1em;
}

a:visited
{
	color: #777777;
}

code
{
	font-family: Monaco, Consolas, Inconsolata, "Andale Mono", monospace;
	font-size: 0.75em;
	padding-left: 2px;
	padding-right: 2px;
	background-color: #F8F8FF;
	border: 1px solid #DEDEDE;
}

#recipients
{
	display:block;
	white-space: nowrap;
}

#subject
{
	font-family: monospace;
}

#message
{
	display:block;
}

.profileLink
{
	text-align: center;
}

#submit
{
	float: none;
	display: block;
	margin: 10px auto;
}

div.grippie
{
	background:#EEEEEE url(./js/grippie.png) no-repeat scroll center 2px;
	border-color:#DDDDDD;
	border-style:solid;
	border-width:0pt 1px 1px;
	cursor:s-resize;
	height:9px;
	overflow:hidden;
}

.resizable
{
	display:block;
	margin-bottom:0pt;
	height: 20%;
}

#footer
{
	font-size: 0.8em;
}

#container
{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	display: table;
	width: 975px;
	margin-left: auto;
	margin-right: auto;
}

#containerrow
{
	outline: none;
	border: none;
	display: table-row;
}

#left, #middle, #right
{
	display: table-cell;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0em;
	padding-bottom: 0em;
}

#left
{
	text-align: center;
}

#middle
{
	border-right: 1px solid black;
	border-left: 1px solid black;
}

#right
{
	text-align: left;
	border-right: 1px solid black;
}