
body
{
	font-family: Segoe UI, 'SegoeUINormal', sans-serif;
	font-size: 100%;
	line-height: 1.5;
	color: #302226;
}

h1#title
{
	font-size: 1.5em;
	font-family: Aller, 'Aller', sans-serif;
	text-align: center;
	margin-top: 1em;
	margin-bottom: 0.6em;
}

h2#subtitle
{
	font-size: 1.25em;
	font-family: Aller, 'Aller', sans-serif;
	line-height: 0.5;
	text-align: center;
	margin-bottom: 1em;
}

h1
{
	font-size: 1.25em;
	font-family: Aller, 'Aller', sans-serif;
	line-height: 0.5;
	text-align: center;
	margin-top: 1.2em;
	margin-bottom: 0.4em;
}

h2
{
	font-size: 1em;
	font-family: Aller, 'Aller', sans-serif;
	font-weight: 600;
	line-height: 0.5;
	text-align: center;
	margin-top: 1em;
	margin-bottom: 0.8em;
}

p
{
	line-height: 1.7;
	margin-top: 0.8em;
	margin-bottom: 0.5em;
	font-size: 0.9em;
}


ul
{
	margin-left: 1em;
	line-height: 1.7;
	font-size: 0.9em;
}

#description, #tools, p.centered
{
	text-align: center;
}

#description
{
	margin-left: 10em;
	margin-right: 10em;
}

a:link
{
	font-weight: 600;
	color: #0000FF;
	text-decoration: none;
}

a:visited
{
	color: #0000AA;
	text-decoration: none;
}

a:hover
{
	color: #0066FF;
	text-decoration: none;
}

a:active
{
	color: #0099FF;
	text-decoration: none;
}

code
{
	font-family: Monaco, Consolas, Inconsolata, "Andale Mono", monospace;
	font-size: 0.75em;
	padding-left: 2px;
	padding-right: 2px;
	background-color: #F8F8FF;
	border: 1px solid #DEDEDE;
}

#recipients
{
	white-space: nowrap;
	display: block;
	width: 100%;
}

#subject
{
	font-family: monospace;
	display: block;
	width: 100%;
}

#message
{
	display: block;
	width: 100%;
}

#field
{
	display: block;
	width: 100%;
}

.profileLink
{
	text-align: center;
}

.submit
{
	float: none;
	margin: 10px auto;
	display: block;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

div.grippie
{
	background:#EEEEEE url(./js/grippie.png) no-repeat scroll center 2px;
	border-color:#DDDDDD;
	border-style:solid;
	border-width:0pt 1px 1px;
	cursor:s-resize;
	height:9px;
	overflow:hidden;
}

.resizable
{
	margin-bottom:0pt;
	height: 20%;
}

footer
{
	font-size: 0.7em;
	text-align: center;
}

#containerlm
{
	width: 39em;
	margin: 1em auto;
	overflow: auto;
}

#containerm
{
	width: 31em;
	margin: 1em auto;
	overflow: auto;
}

#containermr
{
	width: 64.5em;
	margin: 1em auto;
	overflow: auto;
}

#containerlmr
{
	width: 72em;
	margin: 1em auto;
	overflow: auto;
}

#left, #middle, #right
{
	margin-left: 0.5em;
	margin-right: 0.5em;
	padding: 0em 1em;
	background-color: #E7F5FF;
	border: 1px solid #CDE5EF;
}

#left
{
	text-align: center;
	width: 4.4em;
	float: left;
}

#middle
{
	width: 28em;
	float: left;
	text-align: center;
}

#right
{
	text-align: left;
	width: 29.8em;
	float: right;
}

div.clear
{
	clear: both;
}

.hide
{
	display: none;
}